html{
    font-family: Tahoma, Century, Helvetica, sans-serif; 
}

body {
    background: ;
    color: ;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    height: 3000px;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    overflow-x: hidden;
}

img.center{
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/

}




header{
    height: auto;
    min-height: 540px;
    background-image: url("../images/background.jpg");
    background-repeat: none;
    background-size: cover;
	
	
}

nav {
    position: absolute;
    display: inline-block;
    width: 100.7%;
    height: 70px; 
    font-size: 1.4em;
    font-weight: bold;
    z-index: 5000;
    bottom: 0;
	background-color:fff;
	padding-top:1%;
}

nav ul{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px; /*added*/
}

nav li{
    list-style-type: none;
    padding-right: 5%;
    padding-left: 5%;
    display: inline;
}

nav a:link{
    text-decoration: none;
    color: black;
}

nav a:visited{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: blue;
    transition: color .5s linear;
}

nav a:active{
    text-decoration: none;
    color: blue;
}

hr{
	border-color: black;
}

.fixed {
    position: fixed; 
    top: 0; 
    height: 70px; 
    z-index: 2000;
}

#intro{
	height: 23%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 2%;
    width: auto;
	background-color:#eee;
	
}

#about1{
    width: auto;
	background-color:#eee;
	height:75%;
	
}

#about2{
    height: 15%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 2%;
    padding-top: 2%;
    width: auto;
}

#about3{
	height: 75%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 2%;
    padding-top: 2%;
    width: auto;
	background-color:#eee;
}


#contact{
	 height: 10%;
	 width: auto;
	 padding-top: 5%;
	
}

#purchase{
	padding-bottom:5%;
	height: 20%;
	
}

#bkcolor{
	background-color:#565e6b;
	margin-top:0%;
	color:fff;
}

#top{
	padding-top: 5%;
	padding-bottom:5%;
}

#words1{
	padding: 5% 8% 5% 8%;
	height: 10%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-top: 2%;
    padding-top: 2%;
	padding-left: 10%;
	padding-right:5%;
    width: auto;
}

#words{
	padding-right:5%;
	
}

#bkcolor1{
	background-color:#eee;
}


#imag-padding{
	margin-bottom:5%;
}

#image-below{
	padding-top:4.2%;
}

#words2{
	padding-left: 0.1%;
}

.display-images {
    display: inline-block;
    margin-top: 20px;
    width: 70%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.subby-butty {
    width: 40%;
    color: #FFF;
    background-color: #3498db;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-size: 1.2em;
}

.intro{
	height: 15%;
    margin-right: 6%;
    margin-bottom: 10%;
    margin-top: 2%;
    padding-top: 2%;
	padding-left: 10%;
	padding-right:5%;
    width: auto;
}

#image-below{
	padding-top:4.2%;
}

h1{
    font-size: 1.8em;
    margin-bottom: 12px;
    color:#fff;
	
}

h2{
	font-weight: 700;
	color:#5d5a66;
}	

h3{
	font-size: 4em;
	padding-bottom: 5%;
	font-weight: 900;
	color:#000;
}

h5{
	font-size: 4em;
	padding-bottom: 1%;
	padding-top:3%;
	padding-left:8%;
	font-weight: 900;
	color:#000;
	
}

h6{
	font-size: 4em;
	padding-bottom: 3%;
	padding-top:3%;
	padding-left:8%;
	font-weight: 900;
	color:#000;
}

.fa {
    font-size: 5em;
    color: #FFF;
    display: inline-block;
}

