html {
    font-color: #282828;
    font-family: Tahoma, Century, Helvetica, sans-serif; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    text-align: center;
}

button{
    width: 200px;
    height: 50px;
    margin: 50px 0;
    background: #3498db;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

button#loginbtn {
    display: block;
    background: #3498db;
    color: #fff;
    margin-left: 29%;
}
button#loginbtn:hover {
   background: #2980b9;
   color: #1b5377;
}

button#logoutbtn {
    display:none;
}



/****/
body {
    background: #ebebeb;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}




#map{
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	background-color: #000; 
	position: absolute !important;
}
      
#coords{
	position: 
	absolute; 
	bottom: 10px; 
	right: 10px; 
	z-index: 100000;}

/*INDEX PAGE/SPLASH*/
	.outerIndex {
	    display: table;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	}

	.middleIndex {
	    display: table-cell;
	    vertical-align: middle;
	}

	.innerIndex {
	    margin-left: auto;
	    margin-right: auto; 
	    width: 400px;
	}

