html{
    font-family: Tahoma, Century, Helvetica, sans-serif; 
}

body {
    background: #ebebeb;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}




#map{
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	background-color: #000; 
	position: absolute !important;
}
      
#coords{
	position: 
	absolute; 
	bottom: 10px; 
	right: 10px; 
	z-index: 100000;}

/*INDEX PAGE/SPLASH*/
	.outerIndex {
	    display: table;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	}

	.middleIndex {
	    display: table-cell;
	    vertical-align: middle;
	}

	.innerIndex {
	    margin-left: auto;
	    margin-right: auto; 
	    width: 400px;
	}